<header>
    <nav>
        <ul><li><a href="/">Home</a></li></ul>
        <ul><li><a href="/movies">Movies</a></li></ul>
    </nav>

    <form method="get" action="/search">
        <label>
            Zoeken
            <input type="search" name="query"/>
        </label>
    </form>

</header>
